html {
overflow: hidden;
 overflow-x: hidden;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
color:purple;
background-color:hotpink;
font-family:sans-sarif;
font-size:20px;
background-size:cover;
}
#chatterID {
  width:1.5%;
  height:1%
}
#txtPicker {
  display:none;
}
#response {
  height:5%;
  width:100%;
  font-size:16px;
}