html {
overflow: hidden;
 overflow-x: hidden;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
color:purple;
background-color:hotpink;
font-family:sans-sarif;
font-size:20px;
background-size:cover;
}
#chatterID {
  width:25px;
  height:20px;
  font-size:16px;
}
#txtPicker {
  display:none;
}
#getNextConversation {
  font-size:16px;
}
#response {
  height:5%;
  width:100%;
  font-size:16px;
}
#currentConversation {
  line-height:50%;
}

[contenteditable="true"] {
  -webkit-user-select: text;
  user-select: text;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  white-space: pre-wrap; /* Keeps line breaks working like a textarea */
}