html {
overflow: hidden;
 overflow-x: hidden;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
color:purple;
background-color:hotpink;
font-family:sans-sarif;
font-size:20px;
background-size:cover;
}
#chatterID {
  width:27px;
  font-size:16px;
}
#txtPicker {
  display:none;
}
#getNextConversation {
  font-size:16px;
  display:none;
}
#useSavedText {
  display:none;
}
#downloadBtn {
  display:none;
}
#response {
  height:10.5%;
  width:100%;
  line-height:85%;
  font-size:16px;
  background-color:hotpink;
  resize:none;
}
#currentConversation {
}