html {
overflow: scroll;
 overflow-x: hidden;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
color:white;
font-family:sans-sarif;
height: 3000px;
background-size:cover;
}